# IDE artifacts
.vs/
.vscode/
.idea/

*.sln
*.vcxproj*

# Build artifacts
!build/.gitkeep
!build/test.wav

out/
build/
install/
Debug/
cmake-build-debug/

# Dependency
!extern/cmake/
extern/
